
*{
    box-sizing: border-box;
}
   body{
background-color: #0079e6 !important;
margin: 0;
padding: 0;
   }
   nav{
       padding: 15px;
       font-family: 'Poppins', sans-serif;
       text-align: center;
   }
   
li{
  display: inline-block;
 margin-right: 10px;
 }
   

.containerMain{
margin-top: 15px;
width: 94%;
background-color: #222;
color: white;
height: auto;
border-radius: 40px;
min-height: 100vh;
margin-left: auto;
margin-right: auto;

}

.contenido{
display:flex;
flex-direction: row;
flex-wrap: nowrap;
justify-content: space-evenly;

}


.marco{

width: 280px;
height: 280px;
background:#444444 ;
border-radius: 100%;
display: flex;
justify-content: center;
align-items: center;
}
h1{
font-size: 48px;
font-family: 'Poppins', sans-serif;
padding-bottom:18px ;
}
h2{
font-size: 16px;
margin-top:20px ;
color:  #aaa;
opacity: .55;
font-family: 'Poppins', sans-serif;


}
p{
font-family: 'Poppins', sans-serif;
font-size: 14px;
font-weight: 400;
font-style: normal;
line-height: 1.75em;
padding-bottom: 10px;
width: 90%;
margin: auto;
margin-bottom: 20px;
}
.icons1{
border: 2px solid #0079e6;
border-radius: 20px;
width: 80px;
padding-left: 27px;
font-size: 28px;
color: #aaa;
letter-spacing: 20px;
display: inline-block;
margin-left: 4px;

}
.seccion1{
margin-top: 24px;
}

img{
border-radius: 100%;
width: 240px;
display:block;
margin-left: auto;
margin-right: auto;

}
.habilidades{
width: 600px;
margin: auto;

padding: 10px;
margin-top: 50px;
}
#skills{
text-align: right;
padding: -5px;
color: white;
background-color: #0079e6;
border-radius: 10px;

}
#skills2{
text-align: right;
padding: -5px;
color: white;
background-color: #0079e6;
border-radius: 10px;
}
#skills3{
text-align: right;
padding: -5px;
color: white;
background-color: #0079e6;
border-radius: 10px;
}
#skills4{
text-align: right;
padding: -5px;
color: white;
background-color: #0079e6;
border-radius: 10px;
}
.mainSection{
width: 90%;
margin: 0; 
padding:0;
background-color: #444444;
border-radius: 10px;

display: inline-block;
}


.proyects{
margin-top: 100px;
margin-bottom: 20px;
}
.proyects h1{
text-align: center;
font-size: 34px;
}
.proyects p{
text-align: center;
margin: auto;
}

.js{
animation: forJs 2s forwards;
}

@keyframes mover{
0%{width:0%}
100%{width: 75%} 
}
@keyframes mover2{
0%{width:0%}
100%{width: 70%}
}
@keyframes mover3  {
0%{width: 0%}
100%{width: 55%}
}
@keyframes mover4 {
0%{width: 0%}
100%{width: 35%;}
}
.iconHtml{
font-size: 30px;
color: #EE4509;

}
.iconCss{
font-size: 30px;
color: #1F8EE7;
}
.iconBoot{
font-size: 30px;
color: #563F7B;
}
.iconJs{
font-size: 30px;
color: #EAD41C;

}
@media only screen and (min-width:320px) and (max-width: 768px){
.containerMain{
width: 96%;
}

.contenido{
display: flex;
flex-direction: column;
flex-wrap: wrap;
}

img{
margin-left: auto;
margin-right: auto;
}
.marco{
margin:0px auto;

}
h2{
text-align: center;
}
h1{
font-size: 35px;
text-align:center;
}
p{
text-align:center;


}
.flexIcons{
display: flex;
flex-direction: row;
justify-content:center;

}
.icons1{
margin: 5px;
}

h3{
margin-left:5% ;
font-size: 26px;
}


}

